.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    &__logo {
        &:hover {
            transform: rotate(999deg);
            transition: 15s;
        }
    }

    &__profile {
        position: relative;
        text-align: center;
        img {
            
        }
        &-photo {
            cursor: pointer;

            &-img {
                width: 40px;
                height: 40px;
                border-radius: 48px;
                object-fit:cover;
            }

            &-dropdown {
                width: 20px;
                transition: all 0.3s;

                &.active {
                    rotate: 180deg;
                }
            }
        }
        &-dropdown {
            padding: 5px;
            transition: all 0.3s;
            background-color: var(--tertiary);
            position: absolute;
            top: 40px;
            left: -25px;
            opacity: 0;
            z-index: -1;

            &.active {
                opacity: 1;
                z-index: 100;
            }
        }
        .header__profile-username{
            text-align: center;
            max-width: 90px;
            background-color: transparent;
            border: 0;
            outline: none;
            color: var(--secondary);
            &:hover {
                text-decoration: underline;
            }
        }
    }
}