.posts {
    &__header {
        display: flex;
        justify-content: space-between;
        padding: 16px 0;
    }
    &__sort-buttons {

    }
    
    &__sort-btn {

        
    }
    &__add-post-btn {
        background-color: var(--secondary);
        color: #fff;
    }

    &__popup {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--tertiary);
        padding: 30px;

        &-close {
            position: absolute;
            top: 5px;
            right: 5px;
            color: #fff;
            background-color: transparent;
        }
        &-inputs {
    
            form {
                display: grid;
                align-items: center;
                margin-bottom: 5px;
                gap: 5px;
                
    
                textarea {
                    resize: none;
                    
                }
            }
        }
        &-add-button {
            float: right;
            background-color: var(--secondary);
        }
    }    
}

.post {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(21, 23, 24, 1);
    border-bottom: 1px solid rgba(21, 23, 24, 1);
    padding: 12px 0;
    
  
    &__info {
        display: flex;
        
        
        &_image {
            padding-right: 10px;
            img {
                width: 40px;
                height: 40px;
                border-radius: 444px;
                object-fit: cover;
            }
        }

        &_text {
            word-wrap: break-word;
            max-width: 485px;
            width: 100%;
        }

        &_btn-delete {
            color: red;

            &:hover {
                text-decoration: underline;
            }
        }

    }

    &__likes {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--secondary);
        &-btn {
            padding: 0;
            color: var(--secondary);
            // background-color: #fff;
        }
    }
    &__user-id {
    }

    &__username {
        color: var(--secondary);
    }
    &__id {
        
    }
    &__title {
        
    }
    &__body {
        span 
            &:hover {
                text-decoration: none;
            }
        
    }
}
