.posts {

    .post {
        &__info {
            display: flex;
            
            &_image {
                padding-right: 10px;
            }

            &_text {

            }

        }
        &__user-id {
        }
        &__id {
        }
        &__title {
        }
        &__body {
        }
    }
    
    .pagination {
        margin: 0 auto;
        &__btn {

        }
    }
    .btn {
    }
    
}
